<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <label>
    Number:
    <input type="text" formControlName="position">
  </label>

  <label>
    Name:
    <input type="text" formControlName="name">
  </label>

  <label>
    Date:
    <input type="text" formControlName="date" [value]="date | date:'HH:mm dd MMMM yyyy'">
  </label>

  <label>
    Description:
    <input type="text" formControlName="description">
  </label>

  <button type="submit" [disabled]="!form.valid">Submit</button>
</form>

<hr>
